.caja1 {
	text-align: center;
	border: 20px solid yellow;
	padding: 25px 40px;
	width:200px;
	margin: 5px;
}
.caja2 {
	border: 20px solid yellow;
	padding: 25px 40px;
	width:200px;
	margin-left: auto;
	margin-right: auto;
}